.container_Acerca{
    padding-top: 10%;
    background-color: #fff;
    font-size: 1.2rem;
}
.container_Acerca{
    padding-left: 20%;
    padding-right: 20%;
}
h1{   
    padding: 1.3rem;
    background-color: #333;
    color: white;
    
}

