*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans';
}
:focus{

    outline:none ;
}

/*Formuario*/
.form_contacto{
  width: 700px;
  height: 400px;
  margin: 90px auto;
  display: flex;

  background: white;
  border-radius: 20px;
  overflow: hidden ;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

}

/*informacion de contacto*/

.Info_Contacto::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #333;
    /*opacity: 0.9*/;
}
.Info_Contacto{
width: 38%;
position: relative;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
/*iNFORMACION TITULO*/
.Info_Titulo,
.Info_Articulos{
position: relative;
z-index: 2;
color: white;

}
.Info_Titulo{

    margin-bottom:60px ;
}
.Info_Titulo{
  font-size:90px ;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
/*INFORMACION TITULO H2*/
.Info_Titulo h2{
    font-size:25px ;
    text-align: center;
}
/*INFORMAC ION ARTICULOS*/
.Info_Articulos p{
  display: flex;
  align-items: center;
  font-style: Serif;
  font-size:16px ;
  font-weight: 500;
  margin-bottom: 30px;
}
.Info_Articulos p span{
    margin-right: 10px;
} 

.n{
    background: #5f5e5e33;
}
/*FORMULARIO DE ENVIAR CONTACTO*/
form.formulario_Contacto{

    width: 62%;
    padding: 30px 40px ;
}

form.formulario_Contacto h2{

    font-size: 20px;
    font-weight: 600;
    color: rgb(63, 62, 62);
    margin-bottom: 30px;
}

form.formulario_Contacto .Informacion_Usuario{
    display: flex;
    flex-direction: column;
}

form.formulario_Contacto label{
    font-weight: 600;
}

form.formulario_Contacto input,
form.formulario_Contacto textarea{
    width: 100%;
    padding: 6px  0px 3px;
    margin-bottom: 10px;
    
    border: none;
    border-bottom: 2px solid rgb(22, 22, 22);

    font-family: 'Open sans';
    color: rgb(14, 13, 13);
    font-size: 14px;
    font-weight: 400;
}
form.formulario_Contacto textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 70%;
}
form.formulario_Contacto input[ type="submit"]{

    width: 150px;
    background: #222222;
    padding: 10px;
    border: none;
    border-radius: 20px;

    align-self: flex-end;

    color:#fff;
    font-family: 'Open sans';
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

}
form.formulario_Contacto input[ type="submit"]:hover{
background:#333;
}


.mensaje-exito{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mensaje-exito h1{
    font-size: 15px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.mensaje-exito a{
    display: block;
    padding: 10px 30px;
    background: #333;
    text-decoration: none;
    color:#fff;
}
.mensaje-exito a:hover{
    background:  rgb(90, 89, 89);
}

