*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container-tabla_Evento{
    background: white;
    width:100%;
    max-width: 1000px;
    min-width: 750px;
    margin: auto;
    padding: 60px;
    margin-top: 10px;
    border-top: 2px solid #0c1a69;
}
.Titulo_Event{
    display: flex;
    justify-content: center;
    color: white;
    padding: 7px;
    font-size: 2.1rem;
    margin:0;
    background:#333 ;
}
.Fecha_Event{
    justify-content: left;
    position: static;
    color: rgb(75, 75, 78);
}
.container-tabla_Evento .img_Event{
    padding-top: 10px;
    width: 300px;
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.Inform_Event{
    padding-top: 8px;
    font-size: 18px;
    font-weight: 300;
}
/*Agregar eventos*/
.container-agregar_Evento{
    color: black;
    background: white;
    width:100%;
    max-width: 1000px;
    min-width: 750px;
    margin: auto;
    padding: 30px;
    margin-top: 9px;
}
.fecha {
    width:300px;
    padding: 3px;
}
.titulo{
    margin-top: 20px;
    width: 800px;
    font-size: 1.6rem;
}
.inf{
    grid-row: auto;
    width: 940px;
    height: 200px;
    padding: 25px;
    font-size: 1.4rem;
}
.btn{
    padding: 10px;
    width: 100%;
    color: white;
    background: #333;
    font-size: 1.6rem;
}
.top{
    display: flex;
    padding: 15px;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    margin:0;
    background:#333 ;
}
.btn_tilte{
    position: absolute;
    right: 7%;
    color: white;
    text-decoration: none;
    font-size: 1em;
}
.btn_tilte:hover{
    color:rgb(200, 212, 19);
    text-decoration:underline;
    cursor: pointer;
}
.n{
	color: rgb(34, 33, 33);
}