*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container{
	width: auto;
	max-width: 750px;
	margin: 0 auto;
}
.header{
	background-color:#333;
	color:#fff;
	padding: 0.1rem;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}
.neader ,a{
	color: white;
	text-decoration: none;
}
.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items:center;
	flex-wrap: wrap;
}
.logo{
	letter-spacing: 14px;
	font-style: 1.1em;
}
.menu{
	padding-left: 10px;
}
.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color:rgb(179, 138, 6);
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
/*inferior*/

.finp{
	position: fixed;
	bottom: 0;
	padding-top: 5px;
	font-size: 1.4rem;
	float: inline-end;
	background-color: rgb(68, 68, 68);
	padding: 1rem;
	color: #fff;
	text-align: center;
	left: 0;
	right: 0;
}
.Elec{
	color:rgb(179, 138, 6);
}
.Titulo_E{
	margin-top: 20px;
    width: auto;
    font-size: 1.6rem;
	background-color: rgb(10, 33, 136);
	padding: 1rem;
	color: #fff;
	text-align: center;
	left: 0;
	right: 0;
}
