body{
    background:url(../img/logo.png)no-repeat center top;
    font-family: sans-serif;
    background-size: 320px;
    position: static;
}
.form{
    padding-top: 1rem;
    width: 300px;
    height: 400px;
    background-color: transparent;
    color:#333;
    position:absolute;
    left: 40%;
    top: 45%;
}
.form h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.form label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.form input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom:1px solid rgb(68, 66, 66) ;
    height: 20px;
    font-size: 19px;
}

.form .btn{
    background-color: #333;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    padding-left: 30px;
} 