*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ddd;
    font-family: monospace; 
}
.container-tabla{
width: 90%;
background: white;
margin: 50px auto;
box-shadow: 0 0 20px #333;
/*crear tabla grid*/
display: grid;
grid-template-columns: repeat(4,25%);
grid-auto-rows: 30px;
font-size: 1rem;

position: relative;
}
.tabla__titulo{
    grid-column-start: 1;
    grid-column-end:5;
    background: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.tabla__title{
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.tabla__item{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    padding-bottom: 0;
    font-size: 1.1rem;
}
/*La estilo de la tabla agregar usuario*/
.container-add{
    width: 90%;
    margin: 50px auto;
}
.container__title{
    margin: 0;
    scroll-padding: 10px;
    background:rgb(120,65,40,1);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
}
.container_form{
    background:white;
    box-shadow: 0 0 20px #333;
    padding: 20px;
    display: ruby;
    flex-wrap: wrap;
}
.container__label{
    font-size: 1.3rem;
    width: 70%;
}
.container__input{
    width: 35%;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 4.5px;
}
.container__submit{
    background:rgb(120,65,40,1);
    color: white;
    border: none;
    padding: 10px;
    margin: 10px auto;
    width: 100%;
    font-size: 1.5em;
    cursor: pointer;
}
.container__submit:hover{
    color:rgb(200, 212, 19);
}

/*boton de editar*/
.btn_tilte{
    position: absolute;
    right: 7%;
    color: white;
    text-decoration: none;
    font-size: 1em;
}
.btn_tilte:hover{
    color:rgb(200, 212, 19);
    text-decoration:underline;
    cursor: pointer;
}
/*Editar*/
.btn-Actualizar{
    background:#333;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}
.top{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    margin:0;
    background:#333 ;
}
.n{
	color: rgb(34, 33, 33);
}